@charset "UTF-8";
body{
     background-image: url(ヘッダー.png);
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}
.group{
  margin-bottom: 5%;
}
h1{
  font-size: 5vw;
  text-align: center;
  color: #eaf6fd;
  padding-bottom: 7vw;
}
h2{
  font-size: 3vw;
  text-align: center;
  background-color: #dbedf0;
  border-top: 3px solid #0c4da2;
  border-bottom: 3px solid #0c4da2;
}
h3{
  background-color: #dbedf0;
  font-size: 2vw;
  text-align: left;
  padding-left: 10%;
  padding-top: 1%;
}
iframe{
  border-style: none;
  width: 100%;
  height: 130vw;
}
.contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
article{
  height: 100%;
  width: 75%;
}
aside{
  width: 25%;
  font-size:0;
  line-height:0;
}
.end{
  background:rgba(219,237,240,.3);
  background-size: 100%;
}
.text{
  text-align: left;
  padding-left: 15%;
  font-size: 1.5vw;
  background-color: #dbedf0;
}
.Line-Item{
  text-align: center;
  display: block;
  padding-left: 0%;
  color: #dbedf0;
  font-size: 3vw;
}
/*ここからお問い合わせフォームの装飾*/
form{
  background-color: #dbedf0;
}
.text_form , .text_form_top{
  text-align: left;
  margin-left: 15%;
  width: auto;
  font-size: 2vw;
}
.label{
   display: inline-block;
   border-left: solid 5px #5250e0;
   margin-top: 3vw;
   vertical-align:top;
   font-weight: bold;
 }
 input[type="text"],
 input[type="mail"],
input[type="username"]{
   border: none;
   Outline: none;
   font-size: 1.5vw;
   width:30vw;
   height:2vw;
 }
 #Contact_us{
   font-size: 1.5vw;
   width:30vw;
   height:10vw;
   border: none;
   resize: none;
   Outline: none;
 }
 input[type="radio"]{
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 60%;
  border: 2px solid #ccc;
  transition: .25s;
 }
 input[type="radio"]:hover{
    border-color: cyan;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
 }
 input[type="radio"]:checked {
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
}
input[type="checkbox"]{
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 width: 1.5vw;
 height: 1.5vw;
 border-radius: 60%;
 border: 2px solid #ccc;
 transition: .25s;
}
input[type="checkbox"]:hover{
   border-color: 	#6CD404;
   box-shadow: 0 0 0.5vw green, 0 0 2vw #6CD404, 0 0 3vw cyan, 0 0 5vw white;
}
input[type="checkbox"]:checked {
 border-color: 	#6CD404;
 background-color: 	#6CD404;
 box-shadow: 0 0 0.5vw #6CD404, 0 0 5vw white;
}
input[type="submit"]{
  margin-top: 5%;
  border-style: none;
  border-radius: 5px;
  padding: 1% 4% 1% 4%;
  background: cyan;
  color: black;
  text-align: center;
  font-size: 2vw;
  transition: all 0.5s;
}
input[type="submit"]:hover{
  background: white;
  box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
}
/*ここまでお問い合わせフォームの装飾*/
@media (max-width:600px) {
  .contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
  }
  /*ここからお問い合わせフォームの装飾*/
  form{
    background-color: #dbedf0;
  }
  .text_form{
    text-align: left;
    margin-left: 15%;
    width: auto;
    font-size: 4vw;
    margin-top: 5vw;
  }
  .text_form_top{
    text-align: left;
    margin-left: 15%;
    width: auto;
    font-size: 4vw;
    margin-top: 0vw;
  }
  .label{
     display:block;
     border-left: solid 5px #5250e0;
     vertical-align:top;
     font-weight: bold;
   }
   input[type="text"],
   input[type="mail"],
  input[type="username"]{
     border: none;
     Outline: none;
     font-size: 4vw;
     width:60vw;
     height:5vw;
   }
   #Contact_us{
     font-size: 4vw;
     width:60vw;
     height:20vw;
     border: none;
     resize: none;
     Outline: none;
   }
   input[type="radio"]{
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4vw;
    height: 4vw;
    border-radius: 60%;
    border: 2px solid #ccc;
    transition: .25s;
   }
   input[type="radio"]:hover{
      border-color: cyan;
      box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
   }
   input[type="radio"]:checked {
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 5vw white;
  }
  input[type="checkbox"]{
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 4vw;
   height: 4vw;
   border-radius: 60%;
   border: 1px solid #ccc;
   transition: .25s;
  }
  input[type="checkbox"]:hover{
     border-color: 	#6CD404;
     box-shadow: 0 0 0.5vw green, 0 0 2vw #6CD404, 0 0 3vw cyan, 0 0 5vw white;
  }
  input[type="checkbox"]:checked {
   border-color: 	#6CD404;
   background-color: 	#6CD404;
   box-shadow: 0 0 0.5vw #6CD404, 0 0 5vw white;
  }
  input[type="submit"]{
    margin-top: 5%;
    border-style: none;
    border-radius: 5px;
    padding: 1% 4% 1% 4%;
    background: cyan;
    color: black;
    text-align: center;
    font-size:5vw;
    transition: all 0.5s;
  }
  input[type="submit"]:hover{
    background: white;
    box-shadow: 0 0 0.5vw cyan, 0 0 2vw cyan, 0 0 3vw cyan, 0 0 5vw white;
  }
  /*ここまでお問い合わせフォームの装飾*/
  .end{
    background-size: 150%;
  }
  .text{
    text-align: left;
    padding-left: 15%;
    font-size: 4vw;
  }
  article{
    width: 100%;
  }
  aside{
    width: 100%;
    font-size:0;
    line-height:0;
  }
  h1{
    font-size: 6vw;
  }
  h2{
    font-size: 7vw;
  }
  h3{
      font-size: 4vw;
  }
  iframe{
    border-style: none;
    width: 100%;
    height: 150vw;
  }
  .Line-Item{
    text-align: center;
    display: block;
    padding-left: 0%;
    font-size: 5vw;
  }
}
*{
  text-decoration: none;
  margin:0%;
  padding:0%;
}
